body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}

.title {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 24px;
}

.subtitle {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
}

.menu {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
  font-size: large;
}

iframe {
  display: block;
  /* iframes are inline by default */
  margin: 0px;
  padding: 0px;
  height: 90%;
  width: 100%;
  border: 2px solid lightsteelblue;
  background: lightsteelblue;
  /* Just for styling */
}

.leagueid {
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  padding: 5px;
  max-width: 1200px;
  color: black;
  max-height: 600px;
  overflow-y: auto;
}

.full_width_table {
  padding: 10px;
  width: 98%;
  float: left;
  color: black;
}

.narrow_table {
  padding: 10px;
  width: 50%;
  float: left;
  color: black;
}

.wrapperconf {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  color: white;
  max-height: 600px;
  overflow-y: auto;
}

.left_wrap {
  padding: 20px;
  width: 55%;
  float: left;
  color: lightgrey;
}

.right_wrap {
  padding: 20px;
  width: 35%;
  float: left;
  color: lightgrey;
}


.left_wrap_narrow {
  padding: 10px;
  width: 35%;
  float: left;
  color: lightgrey;
}

.left_wrap_wide {
  padding: 10px;
  width: 55%;
  float: left;
  color: lightgrey;
}

.right_wrap_wide {
  padding: 10px;
  width: 55%;
  float: left;
  color: lightgrey;
}

.table {
  margin: 0 0 20px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}

.row.green {
  background: #27ae60;
}

.row.blue {
  background: #2980b9;
}

input {
  width: 100px;
}

a {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: white;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  vertical-align: middle;
}

.comment {
  font-size: 12px;
  font-style: italic;
  padding-left: 20px;
}

.submit {
  text-align: right;
}

button {
  width: 70px;
  float: right;
  margin-left: 10px;
}

button:hover {
  background-color: lightsteelblue;
}

#status-message {
  margin-left: 250px;
  margin-top: 10px;
  margin-right: 250px;
  padding: 10px;
  display: none;
}

.success {
  background-color: #4CAF50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
}

.menuitem {
  width: 100px;
  float: right;
  text-align: center;
  margin-left: 10px;
  padding-left: 5px;
  border-left: #2980b9 1px solid;
  font-weight: 500;
  font-size: medium;
  color: #ffffff;
  position: relative;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b2b2b;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  border: 1px solid #2980b9;
  border-top: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: lightgray;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: medium;
  border-bottom: 1px solid #404040;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #404040;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: white;
}

.racing-icon-small {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}