     body {
        background-color: black;
     }

     table,
     tr,
     th,
     td,
     thead,
     tbody,
     tfoot {
        border: 0px solid, white;
        border-collapse: collapse;
        color: white;
        text-align: center;
        padding: 0;
        border-spacing: 0;
     }

     .header-tr {
        vertical-align: middle;
        background-position: center;
        background-size: contain;
        background-image: url('header.png');
     }

     .header-td {
        height: 96px;
     }

     .recalc-info-tr {
        background-color: #2a2a2a;
     }

     .recalc-info-td {
        padding: 5px 10px;
     }

     .recalc-info {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ccc;
        font-size: 14px;
        line-height: 1.8;
        text-align: center;
        background-color: #1a1a1a;
        padding: 5px;

     }

     .button-tr {
        height: 100px;
     }

     .button-class-select {
        font-family: "Days One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: larger;
        color: gray;
        background-color: lightgray;
        width: 40px;
     }

     .button-class-selected {
        font-family: "Days One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: x-large;
        color: black;
        background-color: yellow;
     }

     .score-table {
        border: 0px solid, white;
        font-family: "Days One", sans-serif;
        font-size: small;
        font-weight: 200;
        font-style: normal;
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
     }

     .table-column-headers {
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
     }

     .score-td {
        background-image: url("./img/middlebar.png");
        height: 72px;
        vertical-align: middle;
     }

     .score-td-left {
        background-image: url("./img/leftbar.png");
        height: 72px;
        width: 110px;
        vertical-align: middle;
     }

     .score-td-name {
        background-image: url("./img/middlebar.png");
        height: 72px;
        width: 200px;
        text-align: left;
        vertical-align: middle;
     }

     .footer-tr {
        vertical-align: middle;
        background-position: center;
        background-size: contain;
        background-image: url('/img/footer.png');
     }

     .footer-td {
        height: 61px;
     }

     /* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}